/* Resets */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.col {
    float: left;
    padding: 20px;
}

.col > div {
    padding: 50px 20px 20px 20px;
    border: 1px solid black;
    position: relative;
    background: lightgray;
}

h1 {
    text-align: center;
}

h2 {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0;
    padding: 15px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#s1 h2 {
    background: lightseagreen;
}

#s2 h2 {
    background: lightskyblue;
}

#s3 h2 {
    background: lightcoral;
}

p {
    text-align: justify;
}

/* Desktop parameters*/
@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.3%;
    }
}

/* Tablet parameters*/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
    }

    .col-md-12 {
        width: 100%;
    }
}

/* Mobile parameters */
@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
    }
}